<%- include("../includes/header.ejs", {title:"Players"}); %>
<h1>Player: <%= result[0].player_name %></h1>
<ul>
    <li>Player Name: <%= result[0].player_name %></li><br />
    <li>Plays For:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].team_name %></li>
            <% } %>
        </ul>
    </li>
    <br />
    <li>Jersey Number: <%= result[0].number %></li><br />
    <li>Position: <%= result[0].position %></li><br />

</ul>

<a href="/players/all"><< back</a>

<%- include("../includes/footer.ejs"); %>