<%- include("../includes/header.ejs", {title:"Players - View All"}); %>

<h1>Players Table</h1>
<a href="/players/add">Add New Player</a> <br />


<br />
<text>Click on a player name to view more informatiom about that player.</text>
<br />
<br />

<table border=1>
    <tr><th>Player Name</th><th>Actions</th>
    </tr>

    <% for (var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/players/?player_id=<%= result[i].player_id %>"><%= result[i].player_name %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/players/edit/?player_id=<%= result[i].player_id %>'">Edit</button>
            <form action="/players/delete/" style="display:inline;">
                <input type="hidden" name="player_id" id="player_id" value="<%= result[i].player_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>