<%- include("../includes/header.ejs", {title: "Update " + players.player_name}); %>

<h1>Update <%= players.player_name%></h1>
<form action="/players/update" method="get">
    <input type="hidden" id="player_id" name="player_id" value="<%= players.player_id %>">
    Player Name: <input id="player_name" name="player_name" type="text" value="<%= players.player_name%>"/> <br />
    Plays For: <br />
    <select id="team_id" name="team_id" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) {
            var selected = "";

            if(players[i].team_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= teams[i].team_id %>" <%= selected %> ><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#teams_id').multiselect();
        });
    </script>

    <br />

    Jersey Number: <input id="number" name="number" type="text" value="<%= players.number%>"/> <br />
    Position: <input id="postion" name="position" type="text" value="<%= players.position%>"/> <br />
    <br />
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>