<%- include("../includes/header.ejs", {title:"Add New Arena"}); %>

<h1>Insert an Arena</h1>

<form action="/arenas/insert" method="get">
    Arena Name: <input id="arena_name" name="arena_name" type="text" /><br />
    Street Address: <input id="street" name="street" type="text" /><br />
    City: <input id="city" name="city" type="text" /><br />
    State: <input id="state" name="state" type="text" /><br />
    Zip Code: <input id="zip" name="zip" type="text" /><br />
    Phone Number: <input id="phone_number" name="phone_number" type="text" /><br />

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>
