<%- include("../includes/header.ejs", {title:"Arenas"}); %>
<h1>Arena: <%= result[0].arena_name %></h1>
<ul>
    <li>Arena Name: <%= result[0].arena_name %></li><br />
    <li>Street Address: <%= result[0].street %></li><br />
    <li>City: <%= result[0].city %></li><br />
    <li>State: <%= result[0].state %></li><br />
    <li>Zip Code: <%= result[0].zip %></li><br />
    <li>Phone Number: <%= result[0].phone_number %></li><br />

</ul>

<a href="/arenas/all"><< back</a>

<%- include("../includes/footer.ejs"); %>