<%- include("../includes/header.ejs", {title:"Teams - View All"}); %>

<h1>Teams Table</h1>
    <a href="/teams/add">Add New Team</a> <br />


<br />
<text>Click on a team name to view more informatiom about that team.</text>
<br />
<br />

    <table border=1>
    <tr><th>Team Name</th><th>Actions</th>
        </tr>

    <% for (var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><a href="/teams/?team_id=<%= result[i].team_id %>"><%= result[i].team_name %></a></td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/teams/edit/?team_id=<%= result[i].team_id %>'">Edit</button>
                <form action="/teams/delete/" style="display:inline;">
                    <input type="hidden" name="team_id" id="team_id" value="<%= result[i].team_id %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>