<%- include("../includes/header.ejs", {title: "Update " + teams.team_name}); %>

<h1>Update <%= teams.team_name%></h1>
<form action="/teams/update" method="get">
    <input type="hidden" id="team_id" name="team_id" value="<%= teams.team_id %>">
    Team Name: <input id="team_name" name="team_name" type="text" value="<%= teams.team_name%>"/> <br />
    Points: <input id="points" name="points" type="text" value="<%= teams.points%>"/> <br />
    Wins: <input id="wins" name="wins" type="text" value="<%= teams.wins%>"/> <br />
    Losses: <input id="losses" name="losses" type="text" value="<%= teams.losses%>"/> <br />
    <br />
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>