<%- include("./includes/header.ejs", {title: title}); %>


<html><head><title>Project 2</title></head>
<body>
<h1>NHL Stats</h1>
<br />
<br />
<a href="/teams/all">Teams Table</a>
<br />
<br />
<a href="/players/all">Players Table</a>
<br />
<br />
<a href="/arenas/all">Arena Table</a>
<br />
<br />
<a href="/games/all">Games Table</a>
<br />
<br />
<br />
About:
<br />
<br />
This website is to help members of the NHL easily add, update, and delete teams, players, games and arenas from a database.
<br />
<br />
<br />
The National Hockey League, or NHL, is a professional ice hockey league in North America, currently comprising 31 teams: 24 in the United States and 7 in Canada.
Headquartered in New York City, the NHL is considered to be the premier professional ice hockey league in the world, and one of the major professional sports leagues in the United States and Canada.
The Stanley Cup, the oldest professional sports trophy in North America, is awarded annually to the league playoff champion at the end of each season.
<br />
<br />
<br />
<br />
<br />
<br />
Entity Relationship Diagram: <br /> <br />
<img src="http://i923.photobucket.com/albums/ad79/julierosen1995/er_diagram.png" border="0" alt="ER Diagram photo er_diagram.png"/></a>
<br />
<br />
<br />
<br />
<br />
<br />
Relational Schema: <br /> <br />
<img src="http://i923.photobucket.com/albums/ad79/julierosen1995/relational_schema.png" border="0" alt=" photo relational_schema.png"/></a>



<%- include("./includes/footer.ejs"); %>