<%- include("../includes/header.ejs", {title: "Update game on" + games.date}); %>

<h1>Update game on <%= games.date%></h1>
<form action="/games/update" method="get">
    <input type="hidden" id="game_id" name="game_id" value="<%= games.game_id %>">

    Location: <br />
    <select id="location" name="location" multiple="multiple">
        <% for(var i=0; arenas.length > i; i++ ) {
            var selected = "";

            if(arenas[i].arena_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= arenas[i].arena_id %>" <%= selected %> ><%= arenas[i].arena_name %></option>
        <% } %>
    </select>
    <br />

    Home Team: <br />
    <select id="home_team" name="home_team" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) {
            var selected = "";

            if(teams[i].team_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= teams[i].team_id %>" <%= selected %> ><%= teams[i].team_name %></option>
        <% } %>
    </select>
    <br />
    Away Team: <br />
    <select id="location" name="location" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) {
            var selected = "";

            if(teams[i].team_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= teams[i].team_id %>" <%= selected %> ><%= teams[i].team_name %></option>
        <% } %>
    </select>
    Home Points: <input id="home_points" name="home_points" type="text" value="<%= games.home_points%>"/> <br />
    Away Points: <input id="away_points" name="away_points" type="text" value="<%= games.away_points%>"/> <br />
    Attendance: <input id="attendance" name="attendance" type="text" value="<%= games.attendance%>"/> <br />
    <br />
    <br />


    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>