<%- include("../includes/header.ejs", {title:"Add New Game"}); %>
<h1>Add New Game</h1>
<form action="/games/insert" method="get">
    Arena:
    <br />
    <select id="location" name="location" multiple="multiple">
        <% for(var i=0; arenas.length > i; i++ ) { %>
        <option value="<%= arenas[i].arena_id %>"><%= arenas[i].arena_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#arena_id').multiselect();
        });
    </script><br />

    Date: <input id="date" name="date" type="text" /><br />

    Home Team:
    <br />
    <select id="home_team" name="home_team" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#arena_id').multiselect();
        });
    </script><br />






    Away Team:
    <br />
    <select id="away_team" name="away_team" multiple="multiple">
        <% for(var i=0; teams.length > i; i++ ) { %>
        <option value="<%= teams[i].team_id %>"><%= teams[i].team_name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#arena_id').multiselect();
        });
    </script><br />

    Home Points: <input id="home_points" name="home_points" type="text" />
    <br />
    Away Points: <input id="away_points" name="away_points" type="text" />
    <br />
    Attendance: <input id="attendance" name="attendance" type="text" />
    <br />
    <br />

    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs") %>