<%- include("../includes/header.ejs", {title:"Games - View All"}); %>

<h1>Games Table</h1>
<a href="/games/add">Add New Game</a> <br />


<br />
<text>Click on a date to view more informatiom about that game.</text>
<br />
<br />

<table border=1>
    <tr><th>Date</th><th>Actions</th>
    </tr>

    <% for (var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/games/?game_id=<%= result[i].game_id %>"><%= result[i].date %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/games/edit/?game_id=<%= result[i].game_id %>'">Edit</button>
            <form action="/games/delete/" style="display:inline;">
                <input type="hidden" name="game_id" id="game_id" value="<%= result[i].game_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>